//
// modules/footer: default footer styling.
//

footer {
    width: 100%;
    padding: 5em 0;
    background: rgba(color('black'), 0.5);
    color: color('white');
    text-align: center;

    p {
        padding: 0 1em;
        margin: 1.5em 0;

        @media all and (min-width: $tablet-size) {
            padding: 0;
        }
    }

    ul {
        padding: 0;
        margin: 0;
        display: inline;
        list-style: none;
    }

    li {
        width: auto;
        margin: 0 2.5%;
        display: inline-block;
    }

    a {
        color: color('orange', 'light');

        &:hover, &:focus, &:active {
            color: color('pink');
        }
    }
}
