<footer id="contact">
  <p>Looking to get in touch? You can contact me through one of the following links!
  <ul>
    <li>
      <a href="mailto:gracening97@gmail.com" title="Email">
        <span class="fa fa-envelope-o icon--media"></span>
      </a>
    </li>
    <li>
      <a href="//github.com/gracening" title="Github">
        <span class="fa fa-github icon--media"></span>
      </a>
    </li>
    <li>
      <a href="//linkedin.com/in/grace-ning" title="LinkedIn">
        <span class="fa fa-linkedin icon--media"></span>
      </a>
    </li>
  </ul>
  <p>&copy; Grace Ning 2016, with help from <a href="http://tiffanynwyeung.com" title="Tiffany Yeung">Tiffany Yeung</a>.</p>
</footer>
